*{
    margin: 0;
}
:root{
    --height-sidebar: 100vh;
    --width-sidebar: 30vw;
    --rows-sidebar-height: 350px;
}

body{
    display: flex;
    flex-direction: row;
}

.left-sidebar{
    background-image: url("./asset/background-min.jpg");
    background-size: 720px 1280px;
    background-position: 40px;
    height: var(--height-sidebar);
    width: var(--width-sidebar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    margin-top: 200px;
    height: 300px;
    width: var(--width-sidebar);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.542);
}

.logo .logo-image img{
    margin-left: 30px;
    width: 12vw;
    border-radius: 50%;
}

.logo-header {
    margin-left: 20px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 2vw;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
}

.photo-credit{
    height: 50px;
    width: var(--width-sidebar);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: antiquewhite;  
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.photo-credit .text-photo a {
    text-decoration: none;    
    color: antiquewhite;
}

.right-sidebar {
    display: grid;
    grid-template-rows:var(--rows-sidebar-height) var(--rows-sidebar-height) calc(100vh - (var(--rows-sidebar-height) + var(--rows-sidebar-height)) );
    width: 70vw;
}

.title-header{
    color: #de7373;
    font-size: 40px;
    font-weight: 800;
    padding: 10px 0;
}

.header {
    display: flex;
    flex-direction: column;   
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    padding: 40px;
    font-size: 22px;    
    background-color: whitesmoke;
}

.header p {
    font-weight:600;
}

.header p em{
    font-weight: 800;
}

form{
    background-color: whitesmoke;
}

.forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
}

.form-left, .form-right{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 30vw;
    font-size: 14px;
    justify-content: center;
    gap: 30px;
}
label{
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(43, 43, 43);
}
.input {
    display: flex;
    flex-direction: column;
}
input{
    border: 1px solid rgba(128, 128, 128, 0.646);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid #de7373;
}

.log-in-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
}

button {
    width: 200px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-family: 'Sora', sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #de7373;
    box-shadow: -5px 5px #c16565;
}

button:hover {
    background-color: #e28686;
}
button:active {
    transform: translateY(4px);
    box-shadow: -1px 0 #c16565;
}

.login-account{
    display: flex;
    padding-top: 10px;
    padding-left: 40px;
    background-color: whitesmoke;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
}
.text-login-account a, a:visited {
    text-decoration: none;
    color: #de7373;
}