*{
    margin: 0;
}
:root{
    --height-sidebar: 100vh;
    --width-sidebar: 30vw;
}

body{
    display: flex;
    flex-direction: row;
}

.left-sidebar{
    background-image: url("./asset/backgroundpic.jpg");
    background-size: var(--width-sidebar) var(--height-sidebar);
    height: var(--height-sidebar);
    width: var(--width-sidebar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 50vh;
    width: var(--width-sidebar);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.photo-credit{
    height: 50vh;
    width: var(--width-sidebar);
    display: flex;
    padding: 20px;
    align-items: flex-end;
    justify-content: center;    
}

.right-sidebar {
    display: grid;
    grid-template-rows: 30vh,30vh,40vh;
    width: 70vw;
}

.title-header{
    font-size: 40px;
    font-weight: 800;
}

.header {
    display: flex;
    flex-direction: column;   
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    border: 2px solid black;
    padding: 40px;
    font-weight:600;
    background-color: #e7edef;
}

.forms {
    display: flex;
    flex-direction: row;   
    align-items: center;
    border: 2px solid blue;
}

.form-left{
    display: flex;
    width: 25vw;
    background-color: greenyellow;
}

.form-right{
    display: flex;
    width: 25vw;
    background-color: gray;
}