*{
    margin: 0;
}
:root{
    --height-sidebar: 100vh;
    --width-sidebar: 30vw;
}
body{
    display: flex;
    flex-direction: row;
}

.left-sidebar{
background-image: url("./asset/backgroundpic.jpg");
background-size: var(--width-sidebar) var(--height-sidebar);
height: var(--height-sidebar);
width: var(--width-sidebar);
display: flex;
flex-direction: column;


}