*{
    margin: 0;
}
:root{
    --height-sidebar: 100vh;
    --width-sidebar: 30vw;
    --rows-sidebar-height: 350px;
}

body{
    display: flex;
    flex-direction: row;
}

.left-sidebar{
    background-image: url("./asset/backgroundpic.jpg");
    background-size: 720px 1280px;
    height: var(--height-sidebar);
    width: var(--width-sidebar);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    margin-top: 200px;
    height: 300px;
    width: var(--width-sidebar);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.542);
}

.logo .logo-image img{
    margin-left: 30px;
    width: 200px;
    border-radius: 50%;
}

.logo-header {
    margin-left: 20px;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 27px;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
}

.photo-credit{
    height: 50px;
    width: var(--width-sidebar);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: antiquewhite;  
    font-family: 'Quicksand', sans-serif;
}

.photo-credit .text-photo a {
    text-decoration: none;
    color: antiquewhite;
}


.right-sidebar {
    display: grid;
    grid-template-rows:var(--rows-sidebar-height) var(--rows-sidebar-height) calc(100vh - (var(--rows-sidebar-height) + var(--rows-sidebar-height)) );
    width: 70vw;
}

.title-header{
    font-size: 40px;
    font-weight: 800;
}

.header {
    display: flex;
    flex-direction: column;   
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    border: 2px solid black;
    padding: 40px;
    font-weight:600;
    background-color: #e7edef;
}

.forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid blue;
}

.form-left{
    display: flex;
    height: 300px;
    width: 500px;
    background-color: greenyellow;
}

.form-right{
    display: flex;
    height: 300px;
    width: 500px;
    background-color: gray;
}

.footer {
    display: flex;
    flex-direction: column;
}